<div class="container">
  <div class="row">
    <div class="col-logo">
      <img src="./assets/images/fp-logo.svg" alt="FP Logo">
    </div>
    <div class="col">
      <div class="in-row">
        <h3>Editia 2020:</h3>
      </div>
      <div class="in-row">
        <div class="in-col">
          <a href="#">Arii</a>
          <a href="#">Program</a>
          <a href="#">Challenge</a>
          <a href="#">Conferință</a>
        </div>
        <div class="in-col">
          <a href="#">Parteneri</a>
          <a href="#">Log In</a>
          <a href="#">Înregistrare</a>
        </div>
        <div class="in-col1">
          <a href="#">F.A.Q.</a>
          <a href="#">Contact</a>
          <a href="#">Termeni și condiții</a>
        </div>
      </div>
    </div>    
    <div class="col">
      <div class="in-row">
        <h3>Follow us:</h3>
      </div>
      <div class="in-row">
        <div class="in-col1">
          <a href="#">
            <img src="./assets/images/instagram.svg" alt="FP instagram" class="ig">
            @fiipractic
          </a>
          <a href="#">
            <img src="./assets/images/facebook.svg" alt="FP facebook" class="fb">
            FII Practic
          </a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <h5>&copy; FII Practic 2020. Toate drepturile rezervate. Proiect organizat de 
      <a href="https://asii.ro">ASII</a>
      în colaborare cu 
      <a href="https://info.uaic.ro">FII</a>.
    </h5>
  </div>
</div>